# OTA
allow platform_app cache_file:dir { search write add_name };
allow platform_app cache_recovery_file:dir { search write add_name };
allow platform_app cache_recovery_file:file { create write open getattr setattr };
